@{
    ViewData["Title"] = "Pagina Inicial";
}

<div class="text-center">
    <h1 class="display-4">Welcome do sistema de Controle de Cliente</h1>
    <p>Desenvolvimento de sistem apara o controle de cliente, para pratica.</p>
</div>
