@model ClienteModel
@{
    ViewData["Title"] = "Confirmação de Deleção do Cliente";
}

<div class="text-center">
    <h2 class="display-4">Confirmação de deleção do Cliente (@Model.Nome)?</h2>
</div>

<a role="button" asp-controller="Cliente" asp-action="Consultar" class="btn btn-danger btn-block">Voltar</a>
<a role="button" asp-route-id="@Model.Id" asp-controller="Cliente" asp-action="Apagar" class="btn btn-primary btn-block">Confirmação da Exclusão</a>