@{
    ViewData["Title"] = "Cadastrar Cliente";
}

<div class="text-center">
    <h2 class="display-4">Cadastrar o estoque de clientes no sistema</h2>
</div>

<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="password" class="form-control" placeholder="Informe o nome">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="password" class="form-control" placeholder="Informe o Email">
  </div>
  <div class="form-group">
    <label for="idade">Idade</label>
    <input type="password" class="form-control" placeholder="Informe a idade">
  </div>
  <div class="form-group">
    <label for="cpf">Cpf</label>
    <input type="password" class="form-control" placeholder="Informe o cpf">
  </div>
  <div class="form-group">
    <label for="empresa">Empresa</label>
    <input type="password" class="form-control" placeholder="Informe a Emapresa">
  </div>
  <button type="submit" class="btn btn-primary btn-block">Cadastrar Cliente</button>
</form>